*{
	font-family: Tahoma, Verdana, serif;
	background-color: #d3d3d3;
}
nav {
	padding: 20px;
	margin: 10px;
	text-align: center;
	color: #000080;
}

li{
	display:inline;
	padding: 30px;
}
header{
	text-align: center;
	color: #000080;
	padding: 5px
}
section {
	overflow: auto;
	height: 100%;
}
main{
	color:#FF0000;
	padding: 10px
}
article{
	color: #000080;
	padding:14px;
}