*{
	font-family: Arial, Verdana, serif;
	color: #FFFFFF;
	text-align: center;
	background-color: #000435;
}

body{
	width: 960px;
	margin: 0 auto;
}

nav {
	background-color: #d3d3d3 ;
	padding: 20px;
	margin: 10px;

}

li{
	display:inline;
	padding: 30px;
}

main{
	background-color: #d3d3d3 ;
	padding: 20px;
	margin: 10px;
}

article{
	background-color: #d3d3d3 ;
	padding: 20px;
	margin: 10px;
}

